{% extends "layout.html" %}

{% block page_title %}Donation{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
{% endblock %}

{% block content %}

	<section class="pb-30">
		<div class="container">
			<h1 class="bordered blue">Donation</h1>
			<p class="ta-c">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
	</section>

	<section class="page-donation bg-grey pb-30">
		<h2 class="bordered blue pt-50 pb-60 mar-0">Choose a Category</h2>
		<div class="container">	
			<div>
				<a class="grid_3 alpha phn-width-full phn-mar-0 phn-mb-10" href="donate-furniture.php">
					<div class="circle blue ma"></div>
					<p class="link-text color-blue ta-c mt-15">Furniture</p>
				</a>
				<a class="grid_3 phn-width-full phn-mar-0 phn-mb-10" href="donate-furniture.php">
					<div class="circle blue ma"></div>
					<p class="link-text color-blue ta-c mt-15">Computers &amp; Peripherals</p>
				</a>
				<a class="grid_3 phn-width-full phn-mar-0 phn-mb-10" href="donate-furniture.php">
					<div class="circle blue ma"></div>
					<p class="link-text color-blue ta-c mt-15">Books</p>
				</a>
				<a class="grid_3 omega phn-width-full phn-mar-0" href="donate-furniture.php">
					<div class="circle blue ma"></div>
					<p class="link-text color-blue ta-c mt-15">Toys</p>
				</a>
				<div class="clr"></div>
			</div>
		</div>
	</section>

	<section class="page-donation bg-white pb-30">
		<h2 class="bordered blue pt-50 pb-60 mar-0">By Foundation</h2>
		<div class="container">	
			<div class="ta-c">
				<a href="donate-to-organization.php" class="grid_3 alpha phn-width-full phn-mar-0 phn-mb-10">
					<img src="images/partners_logo_akshara.png" alt="Akshara Foundation">
					<p class="link-text color-grey ta-c mt-15">Akshara Foundation</p>
				</a>
				<a href="donate-to-organization.php" class="grid_3 phn-width-full phn-mar-0 phn-mb-10">
					<img src="images/partners_logo_nuepa.png" alt="NUEPA">
					<p class="link-text color-grey ta-c mt-15">NUEPA</p>
				</a>
				<a href="donate-to-organization.php" class="grid_3 phn-width-full phn-mar-0 phn-mb-10">
					<img src="images/partners_logo_kseeb.png" alt="KSEEB">
					<p class="link-text link-text color-grey ta-c mt-15">KSEEB</p>
				</a>
				<a href="donate-to-organization.php" class="grid_3 omega phn-width-full phn-mar-0">
					<img src="images/partners_logo_akshaya_patra.png" alt="Akshaya Patra">
					<p class="link-text color-grey ta-c mt-15">Akshaya Patra</p>
				</a>
				<div class="clr"></div>
			</div>
		</div>
	</section>

{% endblock %}
