{% extends "layout.html" %}

{% block page_title %}Donate Furniture{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

	<section class="pb-30">
		<div class="container">
			<div class="circle blue ma mt-50 phn-mt-30"></div>
			<h1 class="bordered blue mt-30 phn-mb-0">Donate Furniture</h1>
			<p class="ta-c phn-mb-0">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			</p>
		</div>
	</section>

	<section class="page-donate-furniture pb-50">
		<div class="container">
			<div class="width-half border-right border-bottom phn-width-full">
				<div class="pt-20 pr-20 pb-20 phn-pr-0">
					<div class="mb-10">
						<div class="head center color-black bold fl">Chairs</div>
						<a class="button blue fr mt-0" href="#">Donate</a>
						<div class="clr"></div>
					</div>
					<div class="progress-bar mb-5">
						<div class="progress"></div>
					</div>
					<div>
						<div class="head bold fl">
							<span class="color-green-2">235</span>
							<span class="color-grey-light-2">Donated</span>
						</div>
						<div class="head bold fr">
							<span class="color-black">443</span>
							<span class="color-grey-light-2">Needed</span>
						</div>
						<div class="clr"></div>
					</div>
				</div>
			</div>
			<div class="width-half border-bottom phn-width-full">
				<div class="pt-20 pl-20 pb-20 phn-pl-0">
					<div class="mb-10">
						<div class="head center color-black bold fl">Tables</div>
						<a class="button blue fr mt-0" href="#">Donate</a>
						<div class="clr"></div>
					</div>
					<div class="progress-bar mb-5">
						<div class="progress"></div>
					</div>
					<div>
						<div class="head bold fl">
							<span class="color-green-2">235</span>
							<span class="color-grey-light-2">Donated</span>
						</div>
						<div class="head bold fr">
							<span class="color-black">443</span>
							<span class="color-grey-light-2">Needed</span>
						</div>
						<div class="clr"></div>
					</div>
				</div>
			</div>
			<div class="width-half border-right border-bottom phn-width-full">
				<div class="pt-20 pr-20 pb-20 phn-pr-0">
					<div class="mb-10">
						<div class="head center color-black bold fl">Cupboards</div>
						<a class="button blue fr mt-0" href="#">Donate</a>
						<div class="clr"></div>
					</div>
					<div class="progress-bar mb-5">
						<div class="progress"></div>
					</div>
					<div>
						<div class="head bold fl">
							<span class="color-green-2">235</span>
							<span class="color-grey-light-2">Donated</span>
						</div>
						<div class="head bold fr">
							<span class="color-black">443</span>
							<span class="color-grey-light-2">Needed</span>
						</div>
						<div class="clr"></div>
					</div>
				</div>
			</div>
			<div class="width-half border-bottom phn-width-full">
				<div class="pt-20 pl-20 pb-20 phn-pl-0">
					<div class="mb-10">
						<div class="head center color-black bold fl">Book Rack</div>
						<a class="button blue fr mt-0" href="#">Donate</a>
						<div class="clr"></div>
					</div>
					<div class="progress-bar mb-5">
						<div class="progress"></div>
					</div>
					<div>
						<div class="head bold fl">
							<span class="color-green-2">235</span>
							<span class="color-grey-light-2">Donated</span>
						</div>
						<div class="head bold fr">
							<span class="color-black">443</span>
							<span class="color-grey-light-2">Needed</span>
						</div>
						<div class="clr"></div>
					</div>
				</div>
			</div>
			<div class="width-half border-right phn-width-full">
				<div class="pt-20 pr-20 pb-20 phn-pr-0">
					<div class="mb-10">
						<div class="head center color-black bold fl">Others</div>
						<a class="button blue fr mt-0" href="#">Donate</a>
						<div class="clr"></div>
					</div>
					<div class="progress-bar mb-5">
						<div class="progress"></div>
					</div>
					<div>
						<div class="head bold fl">
							<span class="color-green-2">235</span>
							<span class="color-grey-light-2">Donated</span>
						</div>
						<div class="head bold fr">
							<span class="color-black">443</span>
							<span class="color-grey-light-2">Needed</span>
						</div>
						<div class="clr"></div>
					</div>
				</div>
			</div>
			<div class="clr"></div>
		</div>
	</section>

{% endblock %}
