{% extends "layout.html" %}

{% block page_title %}404{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
{% endblock %}

{% block content %}

	<section class="pb-30">
		<div class="container">
			<h1 class="bordered red">Oops!</h1>
			<p class="font-20 ta-c mt-120 mb-20">
				Some error occurred while loading the page.
			</p>
			<p class="ta-c mb-120">
				<a href="#">Try agan</a> or go to <a href="#">Home page</a>.
			</p>
		</div>
	</section>

{% endblock %}
