{% extends "layout.html" %}

{% block page_title %}Forgot Password{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

	<section>
		<div class="container">
			<h1 class="bordered blue">Forgot Password</h1>
		</div>
	</section>

	<section class="pt-30 pb-150 phn-pt-20 phn-pb-60">
		<div class="container">
			<p class="ta-c mt-0 mb-50 phn-mb-30 color-green">
				An email has been sent to you email address <b>email@domain.com</b> with a link for resetting your account password.
			</p>
		</div>
	</section>

{% endblock %}
