{% extends "layout.html" %}

{% block page_title %}KLP{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
	<a href="index.php">Home</a>
{% endblock %}

{% block content %}

	<!-- LOGIN - SIGNUP - FORGOT PASSWORD Modal -->
	<div class="modal modal-login-signup show">
		<a class="button-close btn-modal-close"></a>
		<div class="content">
			<!-- HTML FOR SIGNUP STEP -->
			<div class="js-step-signup pad-20">
    			<h3 class="bordered-heading blue mb-30">Signup<span class="mt-10"></span></h3>

    			<form id="signupForm" class="mh-20">
    				<div class="pos-relative">
                    	<input type="text" id="signupFirstName" data-required="true" class="input-text input width-100p error" placeholder="First Name">
                    	<div class="error-message mt-5">This field is required.</div>
                    </div>

                    <div class="pos-relative mt-30">
                    	<input type="text" id="signupLastName" class="input-text input width-100p" placeholder="Last Name">
                    </div>

                    <div class="pos-relative mt-30">
                    	<input type="text" id="signupEmail" data-required="true" class="input-text input width-100p" placeholder="Email">
                    </div>

                    <div class="pos-relative mt-30">
                    	<input type="text" id="signupPhone" data-required="true" class="input-text input width-100p" placeholder="Phone Number">
                    </div>

                    <div class="pos-relative mt-30">
                    	<input type="password" id="signupPassword" data-required="true" class="input-text input width-100p" placeholder="Password">
                    </div>

                    <div class="mt-30">
                    	<input type="checkbox" name="terms" checked class="fl mar-0">
                    	<div class="fl ml-10">Receive updates from KLP and its partners</div>
                    	<div class="clr"></div>
                    </div>

                    <div class="ta-c">
                        <input type="submit" value="Submit" class="button blue btn-next-step-confirmation js-submit-btn" id="signupFormSubmit">
                        
                        <div class="js-submit-loading" style="display:none;">
                            Sending...
                        </div>
                    </div>
                </form>

                <div class="ta-c mar_top_20">
                    <span class="alternate-text">Already a registered user?</span>
                    <a class="button no-mar filled-shadow small clickable dark_grey btn-next-step-login js-showLogin">Login</a>
                </div>
    		</div>

    		<!-- HTML FOR LOGIN STEP -->
			<div class="js-step-login pad-20" style="display:none;">
    			<h3 class="bordered-heading blue mb-30">Login<span class="mt-10"></span></h3>

    			<form id="loginForm" class="mh-20 mt-120">

                    <div class="pos-relative mt-30">
                    	<input type="text" id="loginEmail" data-required="true" class="input-text input width-100p" placeholder="Email">
                    </div>

                    <div class="pos-relative mt-30">
                    	<input type="password" id="loginPassword" data-required="true" class="input-text input width-100p" placeholder="Password">
                    </div>

                    <div class="mt-30">
                    	<a href="" class="alternate-text fl">Forgot Password?</a>
                    	<div class="fr">
                    		<input type="submit" value="Submit" class="button blue mt-0 js-submit-btn" id="signupFormSubmit">
                    		<div class="js-submit-loading" style="display:none;">
	                            Sending...
	                        </div>
                    	</div>
                    	<div class="clr"></div>
                    </div>
                </form>

                <div class="ta-c mt-60">
                    <span class="alternate-text">Not a registered user?</span>
                    <a class="button no-mar filled-shadow small clickable dark_grey js-showSignup">Signup</a>
                </div>
    		</div>

    		<!-- HTML FOR FORGOT PASSWORD STEP -->
			<div class="js-step-forgot-password pad-20" style="display:none;">
    			<h3 class="bordered-heading blue mb-30">Forgot Password<span class="mt-10"></span></h3>

    			<form id="forgotPasswordForm" class="mh-20 mt-120">

    				<div class="ta-c mt-30">
    					Please enter your email address below and we will send you an email with a link to reset your password.
    				</div>

                    <div class="pos-relative mt-30">
                    	<input type="text" id="forgotPasswordEmail" data-required="true" class="input-text input width-100p" placeholder="Email">
                    </div>

                    <div class="ta-c mt-30">
                    	<input type="submit" value="Reset Password" class="button blue mt-0 js-submit-btn" id="forgotPasswordFormSubmit">
                    </div>
                </form>
    		</div>
    	</div>
	</div>

	<section class="home-section how-you-can-help">
		<div class="container">
			<h2>How you can help<span></span></h2>

			<div class="grid_item grid_4 alpha col_pay_a_visit">
				<h3>Pay a visit</h3>
				<p>
					Got some free time?<br/>
					Visit a school in your local area.<br/>
					Look around and observe. Help keep a check on things.
				</p>
			</div>
			<div class="grid_item grid_4 col_volunteer">
				<h3>Volunteer</h3>
				<p>
					Show your Volunteer Spirit.<br/>
					Spend some of your free time teaching and helping children in nearby schools and make a diffrence in someone's life.
				</p>
			</div>
			<div class="grid_item grid_4 omega col_donate">
				<h3>Donate</h3>
				<p>
					Donate books, computers, chairs, tables, sports equipment, etc.
					Your donations help the school provide better education environment to the childhren.
				</p>
			</div>
			<div class="clr"></div>
		</div>
	</section>

	<section class="home-section recent-activities">
		<div class="container">
			<div class="grid_item grid_4 alpha col_schools_around_you">
				<h2>Schools Nearby<span></span></h2>
				<h3>Updates from GKHPS</h3>
				<h4>Homaravu</h4>
				<p>
					Teach for India is currently in 5 cities - Mumbai , Pune , Hyderabad , Delhi , Chennai.
				</p>
			</div>
			<div class="grid_item grid_4 col_volunteer_stories">
				<h2>Volunteer Stories<span></span></h2>
				<h3>The New Maps Portal</h3>
				<h4>Behind the Scenes</h4>
				<p>
					I recently re-wrote the maps portal for the KLP. The map is an important part of our project, action and process because it serves as the pivot point of navigation.
				</p>
			</div>
			<div class="grid_item grid_4 omega col_updates">
				<h2>Updates<span></span></h2>
				<h3>The New Maps Portal</h3>
				<h4>Behind the Scenes</h4>
				<p>
					Teach for India is currently in 5 cities - Mumbai , Pune , Hyderabad , Delhi , Chennai.
				</p>
			</div>
			<div class="clr"></div>
		</div>
	</section>

	<section class="home-section come-volunteer">
		<div class="container">
			<h2>Come Volunteer Now!<span></span></h2>
			<p class="png24">
				Help your local communtiy by teaching and mentoring children at schools nearby you.<br/>
				Your little efforts can make a difference in someone's life.
			</p>
			<div class="ta_c"><a href="volunteer.php" class="button">Volunteer now</a></div>
		</div>
	</section>

	<section class="home-section section-donate-icons donate">
		<div class="container">
			<h2>Donate<span></span></h2>
			<p class="ta_c mb-60 phn-mb-30">Help out by donating items to schools near you</p>
			<div>
				<a class="grid_one_fifth ta-c alpha phn-width-full phn-mar-0 phn-mb-10" href="donate-furniture.php">
					<img src="images/donate_chairs.png" data-2x="true" />
					<p class="link-text color-blue ta-c mt-15">Furniture</p>
				</a>
				<a class="grid_one_fifth ta-c phn-width-full phn-mar-0 phn-mb-10" href="donate-furniture.php">
					<img src="images/donate_computers.png" data-2x="true" />
					<p class="link-text color-blue ta-c mt-15">Computers &amp; Peripherals</p>
				</a>
				<a class="grid_one_fifth ta-c phn-width-full phn-mar-0 phn-mb-10" href="donate-furniture.php">
					<img src="images/donate_books.png" data-2x="true" />
					<p class="link-text color-blue ta-c mt-15">Books</p>
				</a>
				<a class="grid_one_fifth ta-c phn-width-full phn-mar-0" href="donate-furniture.php">
					<img src="images/donate_lego_sets.png" data-2x="true" />
					<p class="link-text color-blue ta-c mt-15">Toys</p>
				</a>
				<a class="grid_one_fifth ta-c omega phn-width-full phn-mar-0" href="donate-furniture.php">
					<img src="images/donate_stationary.png" data-2x="true" />
					<p class="link-text color-blue ta-c mt-15">Stationary</p>
				</a>
				<div class="clr"></div>
				<div class="ta_c"><a href="#" class="button">Donate now</a></div>
			</div>
		</div>
	</section>

	<script type="text/javascript">

		$(document).ready(function(){
			resizeHomeHeader();
			$(window).resize(function() {
				resizeHomeHeader();
			});
		});

		function resizeHomeHeader(){

			if($(window).width() >=980){
				// Its a desktop device
				if($(window).height() <750){
					// Resize only if height less than 750px (700px header + 50px navigation)
					var header_height = $(window).height() - (50+30);	// 50px navigation + 30px padding in content

					$(".home-header .content").css({
						'min-height': header_height + 'px',
						'height': header_height + 'px',
						'background-size': 'auto '+header_height + 'px'
					});

					// Setting headline text height as 130px
					$(".home-header .content .headline-text").css({
						'height': 130 + 'px',
						'background-size': 'auto 130px',
						'margin-top': '30px'
					});

					if(header_height>450){
						$(".home-header .content .info").css({
							'margin-top': '30px',
							'display' : 'block'
						});
					} else {
						$(".home-header .content .info").hide();
					}

					console.log(header_height);
				}
			} else {
				// Its a mobile or tablet. Reverting to original css.
				$(".home-header .content").css({
					'height': 'auto',
					'min-height': 'inherit'
				});
			}
		}

	</script>
    
{% endblock %}