{% extends "layout.html" %}

{% block page_title %}Reset Password{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

	<section>
		<div class="container">
			<h1 class="bordered blue">Reset Password</h1>
		</div>
	</section>

	<section class="pt-30 pb-150 phn-pt-20 phn-pb-60">
		<div class="container">
			<!-- <p class="ta-c mt-0 mb-50 phn-mb-30">
				Enter your new password below
			</p> -->
			<div class="forgot-pass ma">
				<form method="POST" action="reset-password-success.php">
					<div class="mb-30">
						<label class="block bold mb-5">New Password</label>
						<input class="input" type="textbox">
					</div>
					<div class="mb-30">
						<label class="block bold mb-5">Confirm New Password</label>
						<input class="input" type="textbox">
						<div class="error-message mt-5">Passwords do not match</div>
					</div>
					<div class="ta-c">
						<input type="submit" value="Submit" class="button blue mt-30 phn-mt-10"/>
					</div>
				</form>
			</div>
		</div>
	</section>

{% endblock %}
