{% extends "layout.html" %}

{% block page_title %}Organisation Profile{% endblock %}
{% block head %}
    {{ parent() }}
    
{% endblock %}

{% block content %}

	<section class="phn-pb-30">
		<div class="container">
			<h1 class="bordered blue">Users</h1>
		</div>
	</section>

	<section class="pb-30 phn-pt-0">
		<div class="container members-list">
			<div class="div-table mt-30">
				<div class="div-table-row table-head">
					<div class="div-table-cell name uppercase">Name</div>
					<div class="div-table-cell status uppercase">Address</div>
					<div class="div-table-cell action uppercase ta-r">Action</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-cell name">
						<img class="profile-img fl mr-10" src="images/thumb_reading_programme.jpg">
						<a href="#" class="user-name color-blue bold">Gurliv Sembhi</a>
						<div class="clr"></div>
					</div>
					<div class="div-table-cell status">
						<div class="bold uppercase">Mohali, Punjab, India</div>
					</div>
					<div class="div-table-cell action ta-r">
						<div class="action-dropdown">
							<a href="#" class="dropdown-trigger">x</a>
							<ul class="action-dropdown-list ta-l">
								<li>
									<a href="#">Option 1</a>
								</li>
								<li>
									<a href="#">Option 2</a>
								</li>
								<li>
									<a href="#">Option 3</a>
								</li>
								<li>
									<a href="#">Option 4</a>
								</li>
							</ul>
						</div>
						<div class="clr"></div>
					</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-cell name">
						<img class="profile-img fl mr-10" src="images/thumb_reading_programme.jpg">
						<a href="#" class="user-name color-blue bold">Gurliv Sembhi</a>
						<div class="clr"></div>
					</div>
					<div class="div-table-cell status">
						<div class="bold uppercase">Mohali, Punjab, India</div>
					</div>
					<div class="div-table-cell action ta-r">
						<div class="action-dropdown">
							<a href="#" class="dropdown-trigger">x</a>
							<ul class="action-dropdown-list ta-l">
								<li>
									<a href="#">Option 1</a>
								</li>
								<li>
									<a href="#">Option 2</a>
								</li>
								<li>
									<a href="#">Option 3</a>
								</li>
								<li>
									<a href="#">Option 4</a>
								</li>
							</ul>
						</div>
						<div class="clr"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript">

		function init_tabs(){
    		$(document).on("click", ".js-tab-link", function(e){
    			var $wrapper = $(".js-tabs-wrapper");
				var $trigger = $(this).closest(".js-tab-link");
				var tab_id = $trigger.attr('data-tab');

				// Change current tab link
				$trigger.parent().find("li.current").removeClass('current');
				$trigger.addClass("current");

				// Change current tab content
				$wrapper.find(".tab-content.current").removeClass('current');
				$wrapper.find('.tab-content[data-tab="'+ tab_id +'"]').addClass('current');
			});
			$(document).on("click", ".action-dropdown .dropdown-trigger", function(e){
				if($(document).width() < 768){
		            return true;
		        }

		        e.preventDefault();

		        var $trigger = $(this).closest(".action-dropdown");

		        if(!$trigger.hasClass("show-drop")) {
		        	$trigger.addClass("show-drop");
		        } else {
		        	$trigger.removeClass("show-drop");
		        }
			});
    	}

    	$(document).ready(function(){
			init_tabs();
		});

    </script>

{% endblock %}
