{% extends "layout.html" %}

{% block page_title %}School Map{% endblock %}
{% block head %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="js/lib/iCheck/skins/minimal/minimal.css" media="all"/>
    <script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="js/zebra_datepicker.js"></script>
	<script type="text/javascript" src="js/lib/jquery.easydropdown.min.js"></script>
    <script type="text/javascript" src="js/map.js"></script>
    <script type="text/javascript" src="js/swig.min.js"></script>
    <script type="text/javascript" src="js/swig.filters.js"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    
{% endblock %}

{% block subheader %}
	<div class="map-subheader-wrapper volunteer-map-subheader-wrapper show-volunteer-filters">
		<div class="subheader-content">
			<input type="text" name="search" placeholder="Search" class="search-input fl"/>
			<a class="button no-mar filled-shadow clickable grey mt-10 mr-10 fr hide phn-block js-toggle-vol-mobile-filters">Filters</a>
			<div class="phn-clr"></div>

			<div class="volunteer-filters-wrapper fl">
				<div class="label fl">Location</div>
				<div class="filter-item fl phn-fr">
					<select name="location" class="dropdown">
						<option>Banaswadi</option>
						<option>Malleswaram</option>
						<option>Banaswadi</option>
						<option>Malleswaram</option>
					</select>
				</div>
				<div class="hide phn-block phn-clr"></div>

				<div class="label fl">Date</div>
				<div class="filter-item fl phn-fr">
					<span class="js-volunter-date-input-wrapper">
						<input type="text" name="date" readonly="readonly" value="15-07-2014" class="input date-input" id="vol-date-input">
					</span>

					<div class="calendar-wrapper js-volunteer-cal">
						<div class="cal">
		    				<!-- <input class="js-datepicker-input" id="datepicker-input" type="hidden" readonly="readonly"> -->
		    				<div id="vol-datepicker-wrapper"></div>
		    			</div>
					</div>

					<script type="text/javascript">
						function init_volunteer_date_filter(){
							var $date_input = $("#vol-date-input");
							var $calender_wrapper = $('.js-volunteer-cal');
							var $datepicker_wrapper = $calender_wrapper.find("#vol-datepicker-wrapper");

							$date_input.Zebra_DatePicker({
							    always_visible: $datepicker_wrapper,
							    format: 'd-m-Y',
							    first_day_of_week: 0,
							    show_clear_date: false,
							    show_select_today: false,
							    disabled_dates: ['1,3,4,5,12,13,14,22,24'],
							    onSelect: onDateSelect,
							    onClear: onDateClear
							});
							// var datepicker = $datepicker_input.data('Zebra_DatePicker');

							function onDateSelect(date){
								$date_input.val(date);
								$calender_wrapper.removeClass("show");
								// $btn_next_step_cal.show();
							}
							function onDateClear(){
								// $date_input.val("");
								// $btn_next_step_cal.hide();
							}

							$(document).on("click", ".js-volunter-date-input-wrapper", function(){
								$(".js-volunteer-cal").toggleClass("show");
							});
						}

						$(document).ready(function(){
							init_volunteer_date_filter();
						});

					</script>
				</div>
				<div class="hide phn-block phn-clr"></div>

				<div class="label fl">Organization</div>
				<div class="filter-item fl phn-fr">
					<select name="organization" class="dropdown">
						<option selected>All</option>
						<option>Akshara Foundation</option>
						<option>Akshaya Patra</option>
						<option>KSEEB</option>
						<option>NUEPA</option>
					</select>
				</div>
				<div class="hide phn-block phn-clr"></div>

				<div class="label fl">Opportunity</div>
				<div class="filter-item fl phn-fr">
					<select name="activity" class="dropdown">
						<option selected>All</option>
						<option>Teaching Based</option>
						<option>Activity Based</option>
						<option>Skill Based</option>
					</select>
				</div>
				<div class="clr"></div>
			</div>

			<div class="clr"></div>
		</div>
	</div>
	<script type="text/javascript">
		$(function(){
			console.log("here 1");
			$(document).on("click", ".js-toggle-vol-mobile-filters", function(){
				console.log("here 2");
				$(".volunteer-filters-wrapper").toggleClass("show-mobile");
			});
		});
	</script>
{% endblock %}

{% block content %}

	<script type="text/javascript">
		$(function(){
		    $('.option_item .item_values ul').slimScroll({
		        height: '200px',
		        size: '6px',
		        color: '#8d8d8d',
		        railVisible: true,
      			railColor: '#f6f6f6',
      			railOpacity: 1
		    });
		});

		function option_value_list_toggle(obj){
			var state_open = false;
			if($(obj).parent().find('.item_values').hasClass('open')){
				state_open = true;
			}
			$('.item_values').removeClass('open');
			if(state_open){
				$(obj).parent().find('.item_values').removeClass('open');
			} else {
				$(obj).parent().find('.item_values').addClass('open');
			}
			//$(obj).parent().find('.item_values').toggleClass('open');
			event.stopPropagation();
		}

		$('html').click(function() {
			//Hide the menus if visible
			$('.item_values').removeClass('open');
		});

		function option_item_select(obj) {
			return false;
			window.location="{{ site_url }}status_3.php";
			// var parent_option_item = $(obj).parent().parent().parent().parent().parent();
			// $(parent_option_item).find('.item_values').toggleClass('open');
			// $(parent_option_item).find('.value').text($(obj).text());
			//return false;
		}
	</script>

	<div class="map_page page-volunteer-map">
		<section class="map_canvas_full">
			<div id="map_canvas"></div>
		</section>

		<section id="sidebar_wrapper" class="sidebar-wrapper">
			<ul>
				<li class="place_item js-trigger-volunteer-confirm">
					<div class="stats">
						<div class="school bold color-green ellipsis">Gian Jyoti Public School</div>
					</div>
					<div class="details">
						<h3 class="bold color-red ellipsis">Activity Based</h3>
					</div>
					<div class="clr mb-5"></div>
					<div class="stats">
						<span class="distance">800m</span>
					</div>
					<div class="details">
						For <span class="uppercase color-green-2">Akshara Foundation</span>
					</div>
					<div class="clr mb-5"></div>
					<div class="info">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry of the printing and typesetting industry.
					</div>
				</li>
				<li class="place_item js-trigger-volunteer-confirm">
					<div class="stats">
						<div class="school bold color-green ellipsis">Gian Jyoti Public School</div>
					</div>
					<div class="details">
						<h3 class="bold color-green ellipsis">Teaching Based</h3>
					</div>
					<div class="clr mb-5"></div>
					<div class="stats">
						<span class="distance">800m</span>
					</div>
					<div class="details">
						For <span class="uppercase color-green-2">Akshara Foundation</span>
					</div>
					<div class="clr mb-5"></div>
					<div class="info">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry of the printing and typesetting industry.
					</div>
				</li>
				<li class="place_item js-trigger-volunteer-confirm">
					<div class="stats">
						<div class="school bold color-green ellipsis">Gian Jyoti Public School</div>
					</div>
					<div class="details">
						<h3 class="bold color-red ellipsis">Activity Based</h3>
					</div>
					<div class="clr mb-5"></div>
					<div class="stats">
						<span class="distance">800m</span>
					</div>
					<div class="details">
						For <span class="uppercase color-green-2">Akshara Foundation</span>
					</div>
					<div class="clr mb-5"></div>
					<div class="info">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry of the printing and typesetting industry.
					</div>
				</li>
				<li class="place_item">
					<div class="stats">
						<div class="school bold color-green ellipsis">Gian Jyoti Public School</div>
					</div>
					<div class="details">
						<h3 class="bold color-purple ellipsis">Skill Based</h3>
					</div>
					<div class="clr mb-5"></div>
					<div class="stats">
						<span class="distance">800m</span>
					</div>
					<div class="details">
						For <span class="uppercase color-green-2">Akshara Foundation</span>
					</div>
					<div class="clr mb-5"></div>
					<div class="info">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry of the printing and typesetting industry.
					</div>
				</li>
				<li class="place_item">
					<div class="stats">
						<div class="school bold color-green ellipsis">Gian Jyoti Public School</div>
					</div>
					<div class="details">
						<h3 class="bold color-purple ellipsis">Skill Based</h3>
					</div>
					<div class="clr mb-5"></div>
					<div class="stats">
						<span class="distance">800m</span>
					</div>
					<div class="details">
						For <span class="uppercase color-green-2">Akshara Foundation</span>
					</div>
					<div class="clr mb-5"></div>
					<div class="info">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry of the printing and typesetting industry.
					</div>
				</li>
				<li class="place_item">
					<div class="stats">
						<div class="school bold color-green ellipsis">Gian Jyoti Public School</div>
					</div>
					<div class="details">
						<h3 class="bold color-green ellipsis">Teaching Based</h3>
					</div>
					<div class="clr mb-5"></div>
					<div class="stats">
						<span class="distance">800m</span>
					</div>
					<div class="details">
						For <span class="uppercase color-green-2">Akshara Foundation</span>
					</div>
					<div class="clr mb-5"></div>
					<div class="info">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry of the printing and typesetting industry.
					</div>
				</li>
				<li class="place_item">
					<div class="stats">
						<div class="school bold color-green ellipsis">Gian Jyoti Public School</div>
					</div>
					<div class="details">
						<h3 class="bold color-red ellipsis">Activity Based</h3>
					</div>
					<div class="clr mb-5"></div>
					<div class="stats">
						<span class="distance">800m</span>
					</div>
					<div class="details">
						For <span class="uppercase color-green-2">Akshara Foundation</span>
					</div>
					<div class="clr mb-5"></div>
					<div class="info">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry of the printing and typesetting industry.
					</div>
				</li>
			</ul>
			</ul>
		</section>

		<div class="msg-filter-radius hide" id="msg-filter-radius">Click and drag on the map to draw circle</div>

		{# Not needed on volunteer map for now
		<section id="map_overlay" class="map_overlay hide">
			<a href="" class="button-close js-close-info" title="Close"><span></span></a>
			<div class="content"></div>
		</section> #}

		<div class="mobile-details-wrapper" id="mobile-details-wrapper"></div>
		{% verbatim %}
		<section class="map-pin-details sample hide">
			<div class="content">
				<div class="info school">
					<h2 class="name"><a href="" class="color-green">{{place_name}}</a></h2>
					<div class="address">
						Street No-4, Banasawadi, Bangalore
					</div>
				</div>
				<div class="vol-oppor-wrapper">
					<div class="vol-oppor-item">
						<img class="thumb fl" src="images/volunteer/activity.png"/>
						<a class="button blue small fr js-trigger-volunteer-map" href="volunteer_register.php">Volunteer</a>
						<div class="item-info">
							<div class="item-title bold color-red">Activity Based</div>
							<div class="item-org">For <span class="uppercase color-green-2">Akshara Foundation</span></div>
						</div>
						<div class="clr"></div>
						<div class="item-desc">
							Truffaut occupy Vice you probably haven't heard of them, selfies roof. Truffaut occupy Vice you probably .Truffaut occupy Vice you probably haven't heard.
						</div>
					</div>
					<div class="vol-oppor-item">
						<img class="thumb fl" src="images/volunteer/activity.png"/>
						<a class="button blue small fr js-trigger-volunteer-map" href="volunteer_register.php">Volunteer</a>
						<div class="item-info">
							<div class="item-title bold color-red">Activity Based</div>
							<div class="item-org">For <span class="uppercase color-green-2">Akshara Foundation</span></div>
						</div>
						<div class="clr"></div>
						<div class="item-desc">
							Truffaut occupy Vice you probably haven't heard of them, selfies roof. Truffaut occupy Vice you probably .Truffaut occupy Vice you probably haven't heard.
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endverbatim %}
	</div>

	<script type="text/javascript">
		var window_width;
		var $mobile_details_wrapper;
		var map;
		var marker_overlay_html;
		var place_data = {
			1:  {
					name: "Gian Jyoti Public School",
					latlong: [51.505, -0.09]
				},
			2:  {
					name: "Karnataka Public School",
					latlong: [51.500, -0.094]
				}
		};
		var tpl_map_popup;
		var tpl_mobile_place_details;

		var map_voluteer_date = false;

		$(document).ready(function(){
			window_width = $(window).width();

			tpl_map_popup = swig.compile($("#tpl-map-popup-volunteer-opportunity").html());
			tpl_mobile_place_details = swig.compile($("#tpl_mobile_place_details").html());


			$mobile_details_wrapper = $("#mobile-details-wrapper");
			$mobile_details_wrapper.on("click", ".js-close-details", function(e){
				e.preventDefault();
				$mobile_details_wrapper.removeClass("show");
			});

			// $('input').iCheck({
			// 	checkboxClass: 'icheckbox_minimal',
			// 	radioClass: 'iradio_minimal',
			// 	increaseArea: '20%' // optional
			// });

			var sidebar_height = $("#sidebar_wrapper").height();
			$('#sidebar_wrapper ul').slimScroll({
		        height: sidebar_height+'px',
		        size: '5px',
		        color: '#8d8d8d',
		        railVisible: false,
		    });

		    var map_overlay_top = $(".main-header").height()+20+100;
			// $("#map_overlay").css({'top': map_overlay_top + 'px'});

		    load_map();
		});
		$(window).resize(onWindowResize);

		function onWindowResize(){
			window_width = $(window).width();
			// console.log(window_width);
			if(window_width < 768){
				map.closePopup();
			} else {
				$mobile_details_wrapper.removeClass("show");
			}
		}

		function load_map(){

			var param_location = getUrlVar("location");
			var param_date = getUrlVar("date");
			var param_type = getUrlVar("type");

			// Some check to ensure values are valid and is set for every param
			if(param_date){
				map_voluteer_date = param_date;
				// console.log("params set: "+map_voluteer_date);
			}

			marker_overlay_html = $("#tpl_marker_overlay").html();

			map = L.map('map_canvas').setView([51.505, -0.09], 14);
			L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
				maxZoom: 18,
				attribution: '',
				id: 'examples.map-i86knfo3'
			}).addTo(map);

			for (var place_id in place_data) {
				if (place_data.hasOwnProperty(place_id)) {
					add_place_marker(place_id);
				}
			}

			$(document).on('click', ".js-trigger-volunteer-map", function(){
				map.closePopup();
				map_voluteer_date = false;
			});
		}

		function add_place_marker(place_id){
			var place = place_data[place_id];
			var marker = L.marker( place.latlong, {
				clickable: true
			}).addTo(map);

			marker.bindPopup("", {maxWidth: 380, minWidth:380});

			marker.on('click', function(e) {
				if(window_width < 768){
					// Its a phone
					marker.closePopup();	// Close popup
					console.log("open details from bottom");
					show_mobile_place_details(place_id);
					// show_place_details(place_id);
				} else{
					// Set popup content
					console.log("show popup");
					var content = build_popup_content(place_id);
					marker.setPopupContent(content);
				}
			});
		}

		function show_mobile_place_details(place_id){
			
			var latlong = place_data[place_id].latlong;
			map.setView(latlong, 15);
			
			setTimeout(function(){
				var details_ht = $mobile_details_wrapper.height();
				var pan_y = parseInt(details_ht/2.5);
				map.panBy(L.point(0, pan_y));
			},300);

			var html = build_mobile_details_content(place_id);
			$mobile_details_wrapper.html(html).addClass("show");
		}

		function build_popup_content(place_id){
			var ctx = {
				date: map_voluteer_date
			};
			var html = tpl_map_popup(ctx);
			return html;
		}
		function build_mobile_details_content(place_id){

			var ctx = {
				name :  place_data[place_id].name
			}

			var html = tpl_mobile_place_details(ctx);
			return html;
		}
		function getUrlVar(key){
			var result = new RegExp(key + "=([^&]*)", "i").exec(window.location.search); 
			return result && unescape(result[1]) || ""; 
		}

	</script>


{% endblock %}
